
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"> Bone Age Recognition </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>A technology that can predict the age of an individual based on the X-rays of their hands</h1>
        <p class="lead"></p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>What is Bone Age?</h2>
            <p class="lead">Bone age is the degree of maturation of a child's bones. As a person grows from fetal life through childhood, puberty, and finishes growth as a young adult, the bones of the skeleton change in size and shape.</p>
            <h2>What are the problems?</h2>
            <ul>
              <li class='lead'>Inconsistent doctor's opinion on bone-age</li>
              <li class='lead'>This is an issue in internation age group athletic events</li>
            </ul>
            <h3>Benefits</h3>
            <ul>
              <li class='lead'>Saves time and effort</li>
              <li class='lead'>More consistent and accurate results</li>
              <li class='lead'>Decreases medical cost</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Test it yourself</h2>
            <p class="lead">Add in a picture of the X-ray of your hand and let the application do the work for you.</p>
            <center>
              <form name="uploadFile" id="uploadFile" enctype="multipart/form-data" method="post" ng-submit=submit()>
                <label> Upload a X-Ray Picture </label> <br><br>
                <input type="file" name="upload" multiple> <br>
                <input type="submit" class="btn btn-primary" value="Upload">
              </form>
            <center>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">
              ...
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CornHacks 2018</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>
